<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title}) %>
<body class="container-main">
    <%- include('../partials/headerUser.ejs') %>
    <main class="main">
        <section class="form">
            <form action="/admin/create" method="POST" id="register">
                <h3>registrar solicitud</h3>
                <div id="container-company">
                    <label for="company">Empresa</label>
                    <input
                        type="text"
                        name="company"
                        id="company"
                        class="input-padding form-control input-border-initial"
                    >
                </div>
                <div id="container-logo">
                    <label for="logo">Imagen</label>
                    <input type="file" name="logo" id="logo">
                </div>
                <div class="registrarte">
                    <button type="submit" class="enviar-formulario">Enviar Formulario </button>
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>