<header class="header">
    <picture class="container-logo1">
        <a href="/">
            <img src="/img/generalImages/logo.png" alt="logo-bromteck">
        </a>
    </picture>
    <!-- <div class="container-menu">
        <i class="fa-solid fa-bars"></i>
        <div>
            <ul class="burguer-menu">
                <li><a href="/products">PRODUCTOS</a> </li>
                <li><a href="/products/category">CATEGORIAS</a> </li>
                <li><a href="#">PARTNERS</a> </li>
                <li><a href="#">CONTACTO</a> </li>
                <li><a href="#">AYUDA</a> </li>
            </ul>
        </div>
    </div> -->
    <!-- <section class="container-access">
        <% if (locals.isLogged) { %>
        <div class="user">
                <img src="/img/users/<%= locals.userLogged.avatar %>" width="20" height="20" style="border-radius: 100%;">
                <ul>
                    <li><a href="/users/profile">mi perfil</a></li>
                    <li><a href="/users/logout">cerrar sesion</a></li>
                </ul>
        </div>
        <% } else { %>
        <div class="user">
            <i class="fa-solid fa-user"></i>
            <ul>
                <li><a href="/users/login">iniciar sesion</a></li>
                <li><a href="/users/register">registrarse</a></li>
            </ul>
        </div>
        <% } %>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="cart">
            <a href="/products/cart">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </section> -->
    <nav class="nav-bar">
        <ul class="container-list">
            <a href="/admin/create">
                <li> registrar cliente </li>
            </a>
            <a href="/admin/clients">
                <li> lista clientes </li>
            </a>
        </ul>
    </nav>
</header>