<header class="header">
    <picture class="container-logo2">
        <a href="/">
            <img src="/img/generalImages/logo.png" alt="logo-bromteck">
        </a>
    </picture>
    <div class="container-menu">
        <div>
            <ul class="burguer-menu">
                <li><a href="/products">PRODUCTOS</a> </li>
                <li><a href="/products/category">CATEGORIAS</a> </li>
                <li><a href="#">PARTNERS</a> </li>
                <li><a href="#">CONTACTO</a> </li>
                <li><a href="#">AYUDA</a> </li>
            </ul>
        </div>
    </div>
</header>