<header class="header">
    <picture class="container-logo1">
        <a href="/admin/home">
            <img src="https://www.bromteck.com/ximages/Clientes/bromteck/assets/tv-web-bromteck/version-01/logo.png" alt="logo-bromteck">
        </a>
    </picture>
    <nav class="nav-bar">
        <% if (locals.isLogged) { %>
        <ul class="container-logout">
            <li><a href="/admin/logout">cerrar sesion</a></li>
        </ul>
        <% }  %>
    </nav>
</header>