<header class="header">
    <picture class="container-logo1">
        <a href="/admin/home">
            <img src="/img/generalImages/logo.png" alt="logo-bromteck">
        </a>
    </picture>
    <!-- <div class="container-menu">
        <i class="fa-solid fa-bars"></i>
        <div>
            <ul class="burguer-menu">
                <li><a href="/products">PRODUCTOS</a> </li>
                <li><a href="/products/category">CATEGORIAS</a> </li>
                <li><a href="#">PARTNERS</a> </li>
                <li><a href="#">CONTACTO</a> </li>
                <li><a href="#">AYUDA</a> </li>
            </ul>
        </div>
    </div> -->
    <nav class="nav-bar">
        <ul class="container-list">
            <a href="/admin/create">
                <li> registrar cliente </li>
            </a>
            <a href="/admin/clients">
                <li> lista clientes </li>
            </a>
        </ul>
        <% if (locals.isLogged) { %>
        <ul class="container-logout">
            <li><a href="/admin/logout">cerrar sesion</a></li>
        </ul>
        <% }  %>
    </nav>
</header>