/* ESTILOS CLIENTES */

.main {
    width: 90%;
    margin: auto;
    text-align: center;
}
h3 {
    font-weight: lighter;
}
.main section .articles a {
    text-decoration: none;
    color: #666;
}
.articles {
    margin: 10px;
    border: 1px solid #ccc;
    color: #666;
}
.articles a .articles-general {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 15px;
}
.articles a picture, .articles .container-option {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: #000;
}
.articles a picture img {
    width: 70%;
    height: 100px;
}
.articles a strong {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
}
.articles a i {
    font-size: 100px;
    color: #fff;
}
.articles .container-option:hover {
    background-color: #fff;
    transition-duration: 0.5s;
}
.articles .container-option:hover i {
    color: #000;
    transition-duration: 0.5s;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    .main section {
        display: flex;
        flex-wrap: wrap;
    }
    .articles {
        width: 47%;
    }
}
@media (min-width: 1200px) {
    .articles {
        width: 23%;
    }
    .articles:hover {
        cursor: pointer;
        box-shadow: 0px 0px 20px #000;
        transition-duration: 1s;
    }
}